// Variables
@import "variables";
@import "mixin";

.bwt_default_btn {
  @include font-type($bwt_semiboldFontFamily, $bwt_mediumFontSize);
  @include border-radius(2px);
  @include box-shadow(none, $bwt_btnhoverShadow);
  background: $bwt_lightGray10Color;
  border: $bwt_lightGrayBorder;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  min-width: 90px;
  padding: 0 16px;
  text-align: center;

  &:hover {
    background: $bwt_lightGray50Color;
  }

  &:focus {
    outline-color: transparent;
  }
}

.bwt_primary_button {
  @include font-type($bwt_semiboldFontFamily, $bwt_mediumFontSize);
  @include border-radius(2px);
  @include box-shadow(none, $bwt_btnhoverShadow);
  background: $bwt_primaryTealColor;
  border: $bwt_primaryTealColor;
  color: $bwt_white;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  min-width: 90px;
  padding: 0 16px;
  text-align: center;

  &:hover {
    background: $bwt_darkTealColor;
    color: $bwt_white;
  }
  &:active {
    background: $bwt_darkTealColor;
  }
  &:focus {
    outline-color: transparent;
  }
}
